@import url(../fonts/fonts.css);
@import url(frames.css);

:root{
    --cor-bg-defult: linear-gradient(to top, #FEFEFE, #FFFFFF);
    --cor-nav-motion: rgba( 255, 255, 255, .95);
    
    --cor-azul-3d: #0ca5cf;
    --cor-azul-6e: #1828B7;
    --cor-azul-12: #141c66;
    --cor-azul-14: #171b3f;
    --cor-azul-16-o: #090c27D9;
    --cor-cinza-16: #050505;
    --cor-cinza-7: #757575;
    --cor-cinza-3: #C3C3C3;

    --gradient-azul--45: linear-gradient( -45deg, var(--cor-azul-6e), var(--cor-azul-3d));
    --gradient-ocean: radial-gradient(var(--cor-azul-3d), var(--cor-azul-6e));
    --gradient-cinza--45: linear-gradient( -45deg, rgba( 0, 0, 0, .2), rgba( 0, 0, 0, .08));
    --gradient-azul-left: linear-gradient( to left, var(--cor-azul-6e), var(--cor-azul-3d));
    --gradient-footer: linear-gradient( to top, var(--cor-azul-14), var(--cor-azul-12));

    --bg-btn: white;
    --bg-tec: linear-gradient( -45deg, rgba( 0, 0, 0, .2), rgba( 0, 0, 0, .05));
    --bg-card: white;  
    --img-fundo: linear-gradient( to left, var(--cor-azul-6e), var(--cor-azul-3d));

    --text-color: black;
    --cor-nav-text: linear-gradient(to top, #000000, #4a4a4a);

    --txt-font-inter: "Inter", sans-serif;
    --txt-font-istok: "Istok Web", sans-serif;
}

body.drk{
    --cor-bg-defult: linear-gradient(to top, #151515, #202020);
    --cor-nav-motion: rgba( 33, 33, 33, .95);

    --cor-azul-3d: #22C7F5;
    --cor-azul-6e: #1828B7;
    --cor-cinza-16: #050505;
    --cor-cinza-7: #757575;
    --cor-cinza-3: #C3C3C3;

    --gradient-azul--45: linear-gradient( -45deg, var(--cor-azul-6e), var(--cor-azul-3d));
    --gradient-ocean: radial-gradient(#C8EADE, var(--cor-azul-3d), var(--cor-azul-6e));
    --gradient-cinza--45: linear-gradient( -45deg, rgba( 255, 255, 255, .1), rgba( 255, 255, 255, .25));
    --gradient-azul-left: linear-gradient( to left, var(--cor-azul-6e), var(--cor-azul-3d));
    
    --bg-btn: #202020;
    --bg-tec: linear-gradient( -45deg, rgba( 255, 255, 255, .01), rgba( 255, 255, 255, .15));
    --bg-card: var(--cor-cinza-3);
    
    --text-color: white;
    --cor-nav-text: linear-gradient(to top, #EDEDED, #FFFFFF);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}

body{
    min-height: 100vh;
    width: 100%;
    background: var(--cor-bg-defult);
}

body.dark{
    min-height: 100vh;
    width: 100vw;
    background: var(--cor-drk-bkgd);
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    z-index: 10;
    transition: background-color .2s, height .2s;
}

header.scroll{
    height: 70px;
    background: var(--cor-nav-motion);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, .5);
}

#navbar{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navhome{
    display: flex;
    align-items: center;
    gap: 50px;
}

#navhome h1{
    display: none;
}


/*--------Switch (Dark/light)Mode--------*/


#switch{
    width: 45px;
    height: 30px;
    appearance: none;
    background: linear-gradient(white, white) padding-box, var(--gradient-azul--45) border-box;
    border-radius: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: all .4s;
}

#switch:before{
    content: '';
    width: 22px;
    height: 22px;
    background: url(../img/icons/icon-sun-bg.svg) no-repeat center center;
    background-size: cover;
    position: absolute;
    border-radius: 100px;
    margin: 2px;
    transform: translateX(-30%);
    transition: transform .4s;
}

#switch:checked{
    background: linear-gradient(#202020, #202020) padding-box, var(--gradient-azul--45) border-box;
}

#switch:checked:before{
    background: url(../img/icons/icon-moon-bg.svg) no-repeat center center;
    transform: translateX(30%);
}


/*--------Menu--------*/

#hamburguer{
    width: 40px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .4s;
    position: relative;
    right: 0;
    z-index: 10;     
}

#hamburguer div{
    width: 100%;
    height: 4px;
    background: var(--gradient-azul--45);
    border-radius: 2px;
    transition: all .4s;
}

#hamburguer.menu-open div:first-child{
    transform: rotate(-45deg) translateY(15px);
}

#hamburguer.menu-open div:last-child{
    transform: rotate(45deg) translateY(-15px);
}

#hamburguer.menu-open div:nth-child(2){
    opacity: 0;
}

/*--------Navegação(mobile)--------*/


#navbar nav{
    height: 100vh;
    width: clamp(200px, 350px, 80vw);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -100%;
    background: white;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all .4s;
    gap: 20%;
}

#navbar #hamburguer.menu-open + nav{
    transform: translateX(-100%);
}

#navbar nav ul{
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
}

#navbar hr{
    height: 3px;
    margin: 30px 10px;
    width: 80%;
}

#navbar hr:nth-child(5){
    width: 120%;
    margin: 30px 0px;
}

#navbar hr:first-child, #navbar hr:last-child{
    display: none;
}

#navbar #redes-mobile{
    display: flex;
    right: 50%;
    bottom: 10%;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    transform: translateX(50%);
}

#redes-mobile li {
    width: 40px;
    height: 40px;
}

.rede{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-azul--45);
    border-radius: 10px;
    padding: 8px;
    transition: background-color .4s;
}

.rede img{
    width: 100%;
    object-fit: cover;
    filter: invert(1);
    -webkit-filter: invert(1);
    opacity: 100%;
}

.nav-item a{
    font-family: var(--txt-font-inter);
    font-weight: 500;
    font-size: 1.5rem;
    color: black;
}

/*--------Botões--------*/


.btn{
    background: linear-gradient(var(--bg-btn), var(--bg-btn)) padding-box, var(--gradient-azul-left) border-box;
    padding: 8px 24px;
    border-radius: 100px;
    font-family: var(--txt-font-istok);
    font-size: 1.1rem;
    font-weight: 700;
    border: 2px solid transparent;
}

.btn p{
    width: 100%;
    height: 100%;
    background: var(--gradient-azul-left);
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:hover{
    background: var(--gradient-azul-left) border-box;
}

.btn:hover p{
    color: white;
    background: transparent;
    background-clip: inherit;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
}


/*--------Página principal--------*/

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 85px 0 50px;
}

section{
    width: 65%;
    max-width: 800px;
    padding: 110px 0 95px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 1ms ease-in-out forwards surge-bottom;
    animation-timeline: view();
    animation-range: cover 0% cover 45%;
}

#inicio{
    height: calc(100vh + 100px);
    padding: 0 0 85px;
}


#inicio > div.texto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;

}

#inicio > div.texto h1{
    color: var(--text-color);
    font-family: var(--txt-font-inter);
    font-weight: 600;
    font-size: 1.80rem; 
}

#inicio > div.texto h2{
    background: var(--gradient-azul--45);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--txt-font-inter);
    font-weight: 600;
    font-size: 1.20rem;
    margin: 8px 0;

}

hr{
    width: 80%;
    min-width: 100px;
    height: 2px;
    margin: 0 auto;
    margin: 30px 0;
    border: none;
    background: var(--gradient-azul--45);
    border-radius: 5px;
}

#redes-desktop{
    display: none;
}

#inicio .btn{
    font-size: 1.1rem;
    padding: 8px 36px;
}

#inicio > div.foto{
    width: 66vw;
    height: 66vw;
    max-width: 260px;
    max-height: 260px;
    margin: 80px 0;
}

#inicio > div.foto img{
    width: 100%;
    height: 100%;
}

.titulo{
    color: var(--text-color);
    font-family: var(--txt-font-inter);
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
}

.titulo + hr{
    display: none;
}

#sobre{
    position: relative;
    width: 100%;
    max-width: inherit;
    background: var(--gradient-ocean) center center;
    background-size: 300% 300%;
    background-attachment: fixed;
    animation: 50s infinite bgOcean;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, .3);
}

#sobre #titulo{
    width: auto;
    background: white;
    padding: 10px 40px;
    border-radius: 8px;
    box-shadow: inset 0px 0px 15px rgba( 0, 0, 0, .3);
    z-index: 5;
}

#sobre #text{
    width: 65%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    margin: 30px 0 40px;
    z-index: 5;
}

#sobre > div p{
    width: 100%;
    border-radius: 6px;
    background: white;
    font-family: var(--txt-font-inter);
    font-size: .85rem;
    font-weight: 600;
    text-align: justify;
    padding: 25px;
}

#techs{
    max-width: 250px;
}

#techs h2{
    margin: 0;
}

#techs > ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    grid-template-rows: repeat(auto-fill, 70px);
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 30px 0;
    gap: 15px;
}

.tec{
    width: 65px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(white, white) padding-box, var(--gradient-azul--45) border-box;
    border-radius: 100px;
    border: 8px solid transparent;
}

.tec img{
    max-width: 25px;
    object-fit: cover;
}

#techs .btn, #projetos .btn{
    margin-top: 20px;
}

#projetos > ul{
    width: 100%;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-template-rows: repeat(auto-fit, minmax(450px, auto));
    justify-items: center;
    align-items: center;
    justify-content: center;
    gap: 50px 20px;
}

.card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--bg-card);
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 5px rgba( 0, 0, 0, .3);
    border: none;
    border-radius: 8px;
    animation: 1ms ease-in-out forwards surge-card;
    animation-timeline: view();
    animation-range: cover 0% cover 35%;
}

.card > div{
    width: 100%;
}

.capa{
    flex-grow: 1;
}

.capa > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    border-radius: 8px 8px 0 0;
}

.card > div:not(.capa){
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card > div > h3{
    margin: 0 0 15px;
    font-family: var(--txt-font-istok);
    font-size: 1.2rem;
    font-weight: 600;
}

.card > div p{
    text-align: justify;
    font-family: var(--txt-font-istok);
    text-indent: 20px;
}

.card > div > ul{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    grid-template-rows: repeat(auto-fill, 30px);
    margin: 20px 0 auto; 
    gap: 10px;
}

.tec-projeto{
    width: 30px;
    height: 30px;
    background: var(--cor-cinza-3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    opacity: .35;
}

.tec-projeto img{
    max-width: 16px;
    object-fit: cover;
}

.view{
    display: none;
}

footer{
    position: relative;
    width: 100%;
    background: var(--gradient-footer);
    padding: 20% 10%;
}

#content{
    position:relative;
    width: 80%;
    min-width: 250px;
    max-width: 900px;
    margin: 0 auto;
    font-family: var(--txt-font-inter);
    color: white;
    z-index: 5;
}

#content > p{
    font-weight: 500;
    font-size: .9rem;
    text-align: justify;
    line-height: 1.2rem;
    margin-bottom: 50px;
}

#content .link-foot{
    font-weight: 500;
    border-bottom: 1px solid white;
}

#content .link-foot:hover{
    color: var(--cor-azul-3d);
    border-bottom: 1px solid var(--cor-azul-3d);
}

#content .dev-link{
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    font-style: italic;
}

#content > div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#content ul{
    width: fit-content;
}

#content > div a{
    display: flex;
    gap: 10px;
    color: white;
    transition: background-color .3s;
}

#content > div a:hover{
    display: flex;
    gap: 10px;
    color: var(--cor-azul-3d);
}

.footer-item div{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 100px;
    padding: 5px;
}

#content > div a:hover > div{
    background: var(--cor-azul-3d);
}

.footer-item div img{
    width: 100%;
    object-fit: cover;
}

@media (min-width: 769px){

    #navbar{
        max-width: 900px;
        padding: 0;
    }

    #hamburguer, #menu{
        display: none;
    }
    
    #navhome h1{
        display: block;
        background: var(--gradient-azul--45);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: var(--txt-font-inter);
        font-weight: 600;
        font-size: 2rem;
    }
    
    /*--------Navegação(desktop e tablet)--------*/
    
    #navbar nav{
        height: 100%;
        display: flex;
        flex-grow: 1;
        justify-content: end;
        width: unset;
        flex-direction: row;
        position: static;
        top: unset;
        right: unset;
        box-shadow: unset;
        padding: 0px;
        align-items: unset;   
        transition: unset;
    }

    #navbar nav > ul{
        height: 100%;
        width: unset;
        flex-direction: row;
    }

    #navbar hr, #navbar hr:nth-child(5){
        display: block;
        width: 2px;
        min-width: inherit;
        height: 25%;
        margin: 0;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all .4s;
    }

    .nav-item{
        height: 100%;
        padding: 5px;
        min-width: 110px;
        box-shadow: 0px 0px 0px rgba( 0, 0, 0, .25);
        transition: all .4s;
    }

    .nav-item a{
        width: 100%;
        height: 100%;
        display:  flex;
        justify-content: center;
        align-items: center;
        background: var(--cor-nav-text);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: var(--txt-font-inter);
        font-weight: 600;
        font-size: 1rem;
    }

    #navbar hr:has(+ .nav-item:hover), #navbar .nav-item:hover + hr{
        height: 100%;
        opacity: 0%;
    }

    #navbar #hamburguer.menu-open + nav{
        transform: unset;
    }

    #navbar hr:first-child, #navbar hr:last-child{
        display: block;
    }

    #navbar #redes-mobile{
        display: none;
    }
    
    .nav-item:hover{
        background: linear-gradient(to top, rgba( 0, 0, 0, .05), rgba( 0, 0, 0, 0)); 
        box-shadow: 0px 0px 5px rgba( 0, 0, 0, .3);
    }

    .nav-item:hover a{
        text-shadow: 0px 0px 1px rgba( 0, 0, 0, .3); 
    }

    .drk .nav-item:hover a{
        text-shadow: 0px 0px 1px rgba( 255, 255, 255, .3); 
    }

    /*--------Botões--------*/

    .btn{
        border-radius: 6px;
        font-size: 1rem;
        padding: 10px 40px;
    }

    /*--------Página principal--------*/

    main{
        width: 100%;
        max-width: inherit;
        display: flex;
        flex-direction: column;
        padding: 0 0 50px;
    }
    
    section{
        width: 65%;
        max-width: 800px;
        margin: 0 auto;
    }

    #inicio{
        flex-direction: row;
        height: calc(100vh + 85px);
        justify-content: start;
        gap: 150px;
    }

    #inicio > div.texto{
        width: inherit;
        max-width: 350px;
        display: flex;
        flex-direction: column;
    }
    
    #inicio > div.texto h1{
        color: var(--text-color);
        font-family: var(--txt-font-inter);
        font-weight: 600;
        font-size: 2rem; 
    }
    
    #inicio > div.texto h2{
        display: none; 
    }
    
    #redes-desktop{
        display: flex;
        gap: 10px;
    }

    #redes-desktop li{
        width: 35px;
        height: 35px;
    }

    .rede{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--gradient-cinza--45);
        border-radius: 10px;
        padding: 8px;
        transition: background-color .4s;
    }

    .rede img{
        filter: unset;
        -webkit-filter: unset;
        opacity: .4;
    }

    .drk .rede img, .drk .tec img{
        filter: invert(1);
        -webkit-filter: invert(1);
    }

    #redes-desktop li:hover .rede{
        background: var(--gradient-azul--45);
        box-shadow: 0px 2px 2px rgba( 0, 0, 0, .25);
    }

    li:hover .rede img{
        filter: invert(1);
        -webkit-filter: invert(1);
        opacity: 100%;
    }
    
    #inicio > div.texto button{
        display: none;
    }
    
    #inicio > div.foto{
        width: 50%;
        height: 50%;
        max-width: 280px;
        max-height: 280px;
        margin: 40px 0;
    }
    
    #inicio > div.foto img{
        width: 100%;
        height: 100%;
    }

    .titulo + hr{
        display: block;
        margin: 20px 0 0;
        width: 240px;
    }

    #sobre #text{
        width: 50%;
        max-width: 800px;
        min-height: 200px;
        background: none;
        justify-content: space-between;
        border-radius: 10px;
        margin-bottom: 65px;
    }

    #techs{
        margin: 0 auto;
        padding: 110px 0 85px;
        min-height: 100vh;
        max-width: 300px;
    }
    
    #techs > ul{
        grid-template-columns: repeat(auto-fill, 75px);
        grid-template-rows: repeat(auto-fill, 90px);
        gap: 20px;
    }

    .tec{
        width: 75px;
        height: 90px;
        background: var(--bg-tec);
        border-radius: 6px;
        border: none;
        transition: all .4s;
    }
    
    .tec img{
        width: 30px;
        max-width: inherit;
        opacity: 35%;
    }
    
    .tec:hover{
        scale: 1.1;
        background: linear-gradient(white, white) padding-box, var(--gradient-azul--45) border-box;
        border: 10px solid transparent;
        margin: 0;
    }

    .tec:hover img{
        filter: inherit;
        -webkit-filter: inherit;
        opacity: 100%;
    }

    #projetos > ul{
        max-width: 800px;
        gap: 25px;
    }

    .card{
        background: var(--gradient-cinza--45);
        justify-content: space-between;
        transition: all .4s;
    }

    .capa img{
        filter: grayscale(0);
        -webkit-filter: drop-shadow(0);
    }

    .card > div:not(.capa){
        background: var(--bg-card);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    
    .card .view{
        width: 100%;
        margin-top: 10px;
        display: flex;
    }
    
    .card .view p{
        text-indent: inherit;
        font-family: var(--txt-font-inter);
        font-weight: 700;
        background: var(--gradient-azul--45);
        opacity: 0%;
        text-shadow: none;
        position: relative;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .card:hover{
        scale: 1.02;
        background: var(--gradient-azul--45);
        box-shadow: 0px 0px 8px rgba( 0, 0, 0, .4);
    }

    .card .capa img{
        filter: grayscale(0);
        -webkit-filter: drop-shadow(0);
    }

    .card:hover > div:not(.capa){
        background: white;
    }

    .card:hover .view p{
        animation: surge-esq .4s forwards;
    }

    .card:hover .tec-projeto{
        background: white;
        box-shadow: 0px 2px 5px rgba( 0, 0, 0, .3);
        opacity: 100%;
    }

    footer{
        padding: 80px 100px 140px;
    }
}