:root{
    --cor-texto: #fff;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100vw;
}

header{
    width: 100vw;
    height: 106px;
    padding: 40px 35px;
    background: #000000;
}