@import url(../fonts/fonts.css);

:root{
    --cor-azul-3d: #22C7F5;
    --cor-azul-6e: #1828B7;
    --cor-cinza-16: #050505;
    --cor-cinza-7: #757575;
    --cor-cinza-3: #C3C3C3;
    --gradient-azul--45: linear-gradient( -45deg, var(--cor-azul-6e), var(--cor-azul-3d));
    --gradient-azuldrk--45: linear-gradient( -45deg,  var(--cor-cinza-16), var(--cor-azul-6e));
    --gradient-cinza--45: linear-gradient( -45deg, rgba( 255, 255, 255, .25), rgb(191, 191, 191, .25));
    --gradient-azul-left: linear-gradient( to left, var(--cor-azul-6e), var(--cor-azul-3d));

    --txt-font-inter: "Inter", sans-serif;
    --txt-font-istok: "Istok Web", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    width: 100%;
    background: white;
}

body.dark{
    min-height: 100vh;
    width: 100vw;
    background: var(--cor-drk-bkgd);
}

header{
    width: 100%;
    height: 100px;
    background: #000000;
    display: flex;
    position: fixed;
    z-index: 10;
}

#navbar{
    height: 100%;
    width: 80%;
    max-width: 950px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*--------Switch (Dark/light)Mode--------*/


#switch{
    width: 45px;
    height: 30px;
    appearance: none;
    background: linear-gradient(white, white) padding-box, var(--gradient-azul--45) border-box;
    border-radius: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transition: .4s;
}

#switch:before{
    content: '';
    width: 23px;
    height: 23px;
    background: url(../img/icon-sun.svg) no-repeat center center;
    background-size: cover;
    position: absolute;
    border-radius: 100px;
    margin: 2px;
    transform: translateX(-30%);
    transition: transform .4s;
}

#switch:checked{
    background: linear-gradient(black, black) padding-box, var(--gradient-azul--45) border-box;
}

#switch:checked:before{
    background: url(../img/icon-moon.svg) no-repeat center center;
    transform: translateX(30%);
}


/*--------Menu--------*/

#hamburguer{
    width: 40px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hamburguer div{
    width: 100%;
    height: 4px;
    background: var(--gradient-azul-left);
    border-radius: 2px;
}

/*--------Navegação(mobile)--------*/


#navbar nav{
    display: none;
}


/*--------Botões--------*/


.btn{
    background: linear-gradient(white, white) padding-box, var(--gradient-azul-left) border-box;
    padding: 8px 24px;
    border-radius: 100px;
    font-family: var(--txt-font-istok);
    font-weight: 700;
    border: 2px solid transparent;
}

.btn p{
    background-image: var(--gradient-azul-left);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:hover{
    background: var(--gradient-azul-left) border-box;
}

.btn:hover p{
    color: white;
    background: transparent;
    background-clip: inherit;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: inherit;
}


/*--------Página principal--------*/


main{
    width: 65%;
    max-width: 800px;
    margin: 0 auto 85px;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inicio{
    height: calc(100vh + 100px);
}

#inicio > div.foto{
    width: 66vw;
    height: 66vw;
    max-width: 260px;
    max-height: 260px;
    margin: 40px 0;
}

#inicio > div.foto img{
    width: 100%;
    height: 100%;
}

#inicio > div.texto{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#inicio > div.texto h1{
    color: black;
    font-family: var(--txt-font-inter);
    font-weight: 600;
    font-size: 1.75rem; 
}

#inicio > div.texto h2{
    color: black;
    font-family: var(--txt-font-istok);
    font-weight: 400;
    font-size: 1rem;
    opacity: 60%;
    margin-bottom: 38px; 
}

#inicio > div.texto > p{
    display: none;
}

hr{
    width: 80%;
    min-width: 100px;
    height: 2px;
    margin: 0 auto;
    background: black;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
}

#inicio > div.texto button{
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px 65px;
 
}

.titulo{
    font-family: var(--txt-font-inter);
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
    margin: 30px 0;
}

#sobre{
    margin-bottom: 175px;
}

#sobre > div{
    width: 100%;
    background: linear-gradient(to top, var(--cor-azul-6e), var(--cor-azul-3d));
    display: flex;
    justify-content: center;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
}

#sobre > div p{
    width: 80%;
    background: white;
    padding: 30px 8px;
    font-family: var(--txt-font-inter);
    font-size: .85rem;
    font-weight: 600;
    text-align: justify;
}

#techs{
    margin-bottom: 160px;
}

#techs h2{
    margin: 0;
}

#techs > ul{
    width: 100%;
    max-width: 250px;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tec{
    width: 65px;
    height: 65px;
    justify-self: center;
    background: linear-gradient(white, white) padding-box, var(--gradient-azul--45) border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 8px solid transparent;
    margin: 6px;
}

.tec img{
    max-width: 40px;
    object-fit: cover;
}

#techs button{
    margin-left: auto;
}

#projetos > ul{
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.card{
    width: 100%;
    min-height: 175px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card > .frames{
    width: 100%;
    padding: 23px 20px;
    position: relative;
    display: flex;
    align-items: center;
}

.frames > iframe{
    background: white;
    border-color: #404040;
    border-radius: 5px;
}

.frames > iframe:first-child{
    width: 10vw;
    min-width: 20%;
    height: 20vw;
    min-height: 60%;
    position: absolute;
    z-index: 5;
    border-width: 10px 5px;
}

.frames > iframe:last-child{
    width: 40vw;
    min-width: 85%;
    height: 30vw;
    min-height: 80%;
    margin-left: auto;
    border-width: 5px 3px;
}

.card > div:not(.frames){
    display: flex;
    flex-direction: column;
    padding: 0 20px 18px;
}

.card > div > h3{
    margin: 0 0 15px;
    font-family: var(--txt-font-istok);
    font-size: 1.2rem;
    font-weight: 600;
}

.card > div p{
    text-align: justify;
    font-family: var(--txt-font-istok);
    text-indent: 20px;
}

.card > div > ul{
    width: 100%;
    display: flex;
    padding: 30px 0;
    gap: 10px;
    flex-wrap: wrap;
}

.card > div ul li{
    width: 40px;
    height: 40px;
    background: #c3c3c3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    opacity: .35;
}

.card > div ul li img{
    max-width: 20px;
    object-fit: cover;
}

.view{
    display: none;
}

.card > hr{
    background: var(--gradient-azul--45);
    border-radius: inherit;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}

#contatos{
    display: none;
}

footer{
    width: 100%;
    height: 175px;
    background: linear-gradient(to top, #101010, #404040);
    padding: 35px;
}

#content{
    width: 80%;
    max-width: 800px;
    margin: 0 auto 85px;
}

#content p{
    font-family: var(--txt-font-inter);
    font-weight: 500;
    font-size: .8rem;
    color: white;
}

#content p span{
    font-weight: 700;
    font-style: italic;
}

@media (min-width: 768px){
    
    #navbar{
        max-width: 950px;
        padding: 0;
    }

    #hamburguer, #menu{
        display: none;
    }
    
    /*--------Navegação(desktop e tablet)--------*/
    
    #navbar nav{
        height: 100%;
        display: flex;
        flex-grow: 1;
        justify-content: end;
    }

    #navbar nav > ul{
        height: 100%;
        display: flex;
        align-items: center;
    }

    #navbar hr{
        width: 2px;
        min-width: inherit;
        height: 25%;
        margin: 0;
        background: var(--gradient-azul--45);
        border: none;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all .4s;
    }

    .nav-item{
        height: 100%;
        padding: 10px 25px;
        min-width: 150px;
    }

    .nav-item a{
        width: 100%;
        height: 100%;
        display:  flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: var(--txt-font-istok);
    }

    #navbar hr:has(+ .nav-item:hover), #navbar .nav-item:hover + hr{
        height: 100%;
        opacity: 0%;
    }

    .nav-item:hover{
        background: linear-gradient(to top, rgba( 255, 255, 255, .2), rgba( 255, 255, 255, 0)); 
    }

    .nav-item:hover a{
        text-shadow: 0px 0px 5px #D0D0D0; 
    }

    /*--------Botões--------*/

    .btn{
        border-radius: 6px;
        padding: 10px 40px;
    }

    /*--------Página principal--------*/

    main{
        width: 100%;
        max-width: inherit;
        display: flex;
        flex-direction: column;
        margin: 0 0 185px 0;
    }
    
    section{
        width: 65%;
        max-width: 800px;
        margin: 0 auto;
    }

    #inicio{
        flex-direction: row;
        height: calc(100vh + 85px);
        gap: 100px;
    }

    #inicio > div.foto{
        width: 50%;
        height: 50%;
        max-width: 280px;
        max-height: 280px;
        margin: 40px 0;
    }
    
    #inicio > div.foto img{
        width: 100%;
        height: 100%;
    }
    
    #inicio > div.texto{
        width: inherit;
        max-width: 350px;
        display: flex;
        flex-direction: column;
    }
    
    #inicio > div.texto h2{
        margin: 0; 
    }
    
    #inicio > div.texto > p{
        display: inline;
        width: 100%;
        margin: 30px 0;
        font-family: var(--txt-font-inter);
        font-size: .85rem;
        font-weight: 500;
        text-align: justify;
    }
    
    #inicio > div.texto button{
        display: none;
    }

    #sobre{
        display: none;
    }

    #techs{
        margin-bottom: 160px;
    }
    
    #techs h2{
        margin: 0;
    }
    
    #techs > ul{
        width: 100%;
        max-width: 350px;
        margin: 30px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    
    .tec{
        height: 65px;
        width: 65px;
        background: linear-gradient( -45deg, var(--cor-cinza-3), #c3c3c325) padding-box, transparent border-box;
        border: 0px solid transparent;
        transition: all .4s;
        margin: 12px;
    }
    
    .tec img{
        opacity: 35%;
    }
    
    .tec:hover{
        height: 84px;
        width: 84px;
        background: linear-gradient( white, white) padding-box, var(--gradient-azul--45) border-box;
        border: 12px solid transparent;
        margin: 0;
    }

    .tec:hover img{
        opacity: 100%;
    }

    #projetos{
        width: 100%;
        max-width: inherit;
        background: var(--gradient-azuldrk--45);
        padding: 0 17.5% 85px;
    }

    #projetos > div{
        background: white;
        padding: 20px 40px;
        border-radius: 10px;
        box-shadow: inset 0px 0px 15px rgba( 0, 0, 0, .3);
        margin: 65px 0 40px;
    }

    #projetos h2{
        background: var(--gradient-azul--45) text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }

    #projetos > ul{
        max-width: 800px;
    }

    .card{
        width: 80%;
        background: var(--gradient-cinza--45);
        border-radius: 10px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        min-height: inherit;
        align-items: center;
        transition: all .4s;
    }

    .card > .frames{
        width: 50%;
        height: 20vh;
        padding: 0 5%;
    }
    
    .frames > iframe{
        background: white;
        border-color: #404040;
        border-radius: 5px;
    }
    
    .frames > iframe:first-child{
        width: 20%;
        height: 70%;
        min-width: 7vh;
        min-height: inherit;
    }
    
    .frames > iframe:last-child{
        width: 90%;
        max-width: 40vh;
        height: 100%;
        min-width: inherit;
        min-height: inherit;
    }
    
    .card > div:not(.frames){
        width: 50%;
        min-height: 280px;
        padding: 10% 5%;
    }

    .card > div > h3{
        color: white;
        text-shadow: 0px 0px 5px rgba( 0, 0, 0, .25);
    }
    
    .card > div p{
        color: white;
        text-shadow: 0px 0px 5px rgba( 0, 0, 0, .25);
    }
    
    .card > div > ul{
        margin: 25px 0 auto;
        padding: 0;
    }
    
    .card > div ul li{
        width: 40px;
        height: 40px;
        background: #c3c3c3;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100px;
        opacity: .35;
    }
    
    .card > div ul li img{
        max-width: 20px;
        object-fit: cover;
    }
    
    .card .view{
        width: 100%;
        display: flex;
    }
    
    .card .view p{
        text-indent: inherit;
        font-family: var(--txt-font-inter);
        font-weight: 700;
        background: var(--gradient-azul--45);
        opacity: 0%;
        text-shadow: none;
        position: relative;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .card hr{
        display: none;
    }

    .card:hover{
        background: var(--gradient-azul--45);
    }

    .card:hover > div > h3{
        color: black;
        text-shadow: 0px 0px 5px rgba( 0, 0, 0, .25);
    }

    .card:hover > div > p{
        color: black;
        text-shadow: 0px 0px 5px rgba( 0, 0, 0, .25);
    }

    .card:hover > div:not(.frames){
        background: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .card:hover .view p{
        animation-name: surge;
        animation-duration: .4s;
        animation-fill-mode: forwards;
    }

    #projetos{
        margin-bottom: 185px;
    }

    #projetos .btn{
        background: transparent;
        border: 2px solid white;
    }
    
    #projetos .btn p{
        background: transparent;
        color: white;
        background-clip: inherit;
        -webkit-background-clip: inherit;
        -webkit-text-fill-color: inherit;
    }
    
    #projetos .btn:hover{
        background: var(--gradient-azul-left) border-box;
        border-color: transparent;
    }

    #contatos{
        display: flex;
    }

    #contatos > .titulo{
        margin: 0;
        padding: 0 100px 30px;
        background: var(--gradient-azul--45);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #contatos hr{
        height: 2px;
        width: 350px;
        background: var(--gradient-azul--45);
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }

    #contatos ul{
        display: flex;
        gap: 25px;
    }

    #contatos li{
        width: auto;
        height: auto;
    }

    #contatos .link{
        width: 100%;
        height: 100%;
        background: #75757540;
        padding: 12px 30px;
        border-radius: 5px;
        mix-blend-mode: difference;
    }

    #contatos .link img{
        width: 100%;
        height: 100%;
    }

    @keyframes surge {
        0%{
            opacity: 0%;
            left: 0;
        }
        
        50%{
            opacity: 45%;
            
        }
        
        100%{
            opacity: 100%;
            left: 100%;
            transform: translateX(-100%);
        }
    }
    
}