/*------INTER------*/

@font-face{
    font-family: Inter;
    src: local("Inter"), url("Inter-Regular.ttf");
    font-weight: 400;
}

@font-face{
    font-family: Inter;
    src: local("Inter"), url("Inter-Medium.ttf");
    font-weight: 500;
}

@font-face{
    font-family: Inter;
    src: local("Inter"), url("Inter-SemiBold.ttf");
    font-weight: 600;
}

@font-face{
    font-family: Inter;
    src: local("Inter"), url("Inter-Bold.ttf");
    font-weight: 700;
}

@font-face{
    font-family: Inter;
    src: local("Inter Tight"), url("InterTight-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}


/*------ISTOK WEB------*/


@font-face{
    font-family: Istok Web;
    src: local("Istok Web"), url("IstokWeb-Regular.ttf");
    font-weight: 400;
}

@font-face{
    font-family: Istok Web;
    src: local("Istok Web"), url("IstokWeb-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: Istok Web;
    src: local("Istok Web"), url("IstokWeb-Bold.ttf");
    font-weight: 700;
}

@font-face{
    font-family: Istok Web;
    src: local("Istok Web"), url("IstokWeb-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}